{% set title = "Waiting Wallet Confirm" %}

{% set description = "" %}

{% set state = "app" %}

{% set urlPage = "waiting-wallet-confirm" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="form-app">

			<div class="form-app__inner transction-submitted">

				<div class="transction-submitted__loading">

					<script type="module">
						import { canvasLoader } from "/js/canvas-loader.js";
						new canvasLoader('canvas');
					</script>
					<div id="canvas"></div>

				</div>

				<h3 class="form-app__title h3">
					Waiting For Confirmation
				</h3>

				<p class="transction-submitted__text">
					Confirm this transaction in your wallet
				</p>

			</div>

		</div>

	</article>

{% endblock %}